version: '3.7'

networks:
  di-net:
    driver: bridge

services:

  test:
    image: ghcr.io/datakaveri/di-test:latest
    environment:
      - DI_URL=https://di.iudx.org.in
      - LOG_LEVEL=INFO
      - RS_JAVA_OPTS=-Xmx1024m
    volumes:
      - /home/ubuntu/configs/5.0.0/di-config-test.json:/usr/share/app/configs/config-test.json
      - /home/ubuntu/configs/5.0.0/di-config-test.json:/usr/share/app/configs/config-dev.json
      - /home/ubuntu/configs/5.0.0/keystore-di.jks:/usr/share/app/configs/keystore.jks
      - ./docker/runTests.sh:/usr/share/app/docker/runTests.sh
      - ./iudx-pmd-ruleset.xml:/usr/share/app/iudx-pmd-ruleset.xml
      - ./google_checks.xml:/usr/share/app/google_checks.xml
      - ./src/:/usr/share/app/src
      - ${WORKSPACE}:/tmp/test
    networks: 
      - di-net
    logging:
         driver: "json-file"
         options:
             max-file: "5"
             max-size: "100m"
    command: bash -c "docker/runTests.sh"

  integTest:
    image: ghcr.io/datakaveri/di-depl:latest
    environment:
      - DI_URL=https://di.iudx.org.in
      - LOG_LEVEL=INFO
      - RS_JAVA_OPTS=-Xmx1024m
    volumes:
      - /home/ubuntu/configs/5.0.0/di-config-test.json:/usr/share/app/configs/config.json
      - /home/ubuntu/configs/5.0.0/keystore-di.jks:/usr/share/app/configs/keystore.jks
    ports:
      - "8443:8443"
    networks: 
      - di-net
    logging:
         driver: "json-file"
         options:
             max-file: "5"
             max-size: "100m"
    command: bash -c "exec java $$DI_JAVA_OPTS  -Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory -jar ./fatjar.jar  --host $$(hostname) -c configs/config.json"
    depends_on:
      - "zookeeper"

  zookeeper:
    image: zookeeper:latest
    expose: 
      - "2181"
    networks:
      - di-net
